*{
  font-family: "Roboto";
}
body {
  padding: 0;
  margin: 0;
}

#root {
  background-image: linear-gradient(to right, #A9F1DF, #FFBBBB);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  box-sizing: border-box;
}

.main-todo-container {
  height: 80%;
  width: 50%;
  }
